.content-wrapper {
  position: relative;
  background-color: #E7ECEF;
  padding: 10px;
  text-align: center;
}

.content-image {
  width: 100%;
  display: block;
  margin: auto;
}

.content-text {
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #181818;
}

.content-subtext {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #181818;
}

.content-button {
  background-color: #0E4A6C;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 50px;
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%);
}
