<app-header></app-header>
<div style="position: relative; background-color: #E7ECEF; padding: 20px; text-align: center;">
  <img id="initialImage" src="assets/img/h11.png" alt="" style="width: 120%; display: block; margin: auto;">
  <div style="position: absolute; top: 45%; left: 20%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold; color: #181818;">
    Men Collection 2024
  </div>
  <div style="position: absolute; top: 55%; left: 20%; transform: translate(-50%, -50%); font-size: 50px; color: #181818;">
    New Arrivals
  </div>
  <button style="background-color: #0E4A6C; color: white; border: none; padding: 10px 40px; border-radius: 50px; position: absolute; top: 75%; left: 20%; transform: translate(-50%, -50%);">Shop Now</button>
  <img id="slideshowImage" src="assets/img/h22.png" alt="" style="width: 120%; display: none; position: absolute; top: 0; left: 0;">
</div>
<app-footer></app-footer>
