
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f7f7f7;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 18px;
    font-size: 16px;
  }
}

::ng-deep {
  .mat-menu-content {
    width: 160px;
  }
}

.logout-menu {
    /* Ajoutez vos styles ici */
    position: absolute;
    top: calc(100% + 5px); /* positionne le menu juste en dessous du bouton déclencheur */
    left: 0;
    z-index: 101; /* assure que le menu s'affiche au-dessus des autres éléments */
  }
