#addsous_category{
    max-width: 400px;
    margin: auto;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Augmenter le rayon de la bordure */
    box-sizing: border-box;
}
button.CREATE {
    background-color: #4C90A6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}
  
button.CREATE:hover {
    background-color: #4C90A6;
}
