<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div>
    <label>Name:</label>
    <input type="text" name="name" [(ngModel)]="product.name" required>
  </div>
  <div>
    <label>Price:</label>
    <input type="number" name="price" [(ngModel)]="product.price" required>
  </div>
  <div>
    <label>Quantity:</label>
    <input type="number" name="quantity" [(ngModel)]="product.quantity" required>
  </div>
  <div>
    <label>Promotion:</label>
    <input type="number" name="promotion" [(ngModel)]="product.promotion" required>
  </div>

  <div>
    <label>Subcategory:</label>
    <select name="scategoryId" [(ngModel)]="product.scategoryId" (change)="onSubcategorySelected($event)" required>

      <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{ subcategory.name }}</option>
    </select>
  </div>
  
  <div>
    <label>Category:</label>
    <select name="fcategoryId" [(ngModel)]="product.fcategoryId" required>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  

  <div>
    <label>Image:</label>
    <input type="file" name="image_name" (change)="handleFileInput($event)" required>
  </div>
  <button type="submit">Submit</button>
</form>
