
  <div>
    <app-header></app-header>
  <body>
    <div class="se-pre-con"></div>
    <section>
      <h1 id="cart">Cart</h1>
      <div class="row">
        <div class="column">
          <h2>Your Order</h2>
          <table style="width: 100%;" >
            <thead style="text-align: center;">
                <tr>
                    <th style="width: 16.67%;"></th>
                    <th style="width: 16.67%;">Product</th>
                    <th style="width: 16.67%;">Qte</th>
                    <th style="width: 16.67%;">Size</th>
                    <th style="width: 16.67%;">Price</th>
                    <th style="width: 16.67%;"></th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <tr>
                    <td ><img src="assets/img/bg.jpg" alt="" /></td>
                    <td >Red Pull Over</td>
                    <td ><input
                      type="number"
                      name="quantity"
                      id="no-of-items"
                      value="1"
                      min="1"
                      max="6"
                      step="1"
                      class="quantity"
                    /></td>
                    <td >Size M</td>
                    <td >59.900 DT</td>
                    <td >
                      <button id="remove" class="remove">
                        Remove
                      </button>
                    </td>
                </tr>
                <tr>
                  <td ><img src="assets/img/bg.jpg" alt="" /></td>
                  <td >Red Pull Over</td>
                  <td ><input
                    type="number"
                    name="quantity"
                    id="no-of-items"
                    value="1"
                    min="1"
                    max="6"
                    step="1"
                    class="quantity"
                  /></td>
                  <td >Size M</td>
                  <td >59.900 DT</td>
                  <td >
                    <button id="remove" class="remove">
                      Remove
                    </button>
                  </td>
              </tr>
              <tr>
                <td ><img src="assets/img/bg-2.jpg" alt="" /></td>
                <td >Red Pull Over</td>
                <td ><input
                  type="number"
                  name="quantity"
                  id="no-of-items"
                  value="1"
                  min="1"
                  max="6"
                  step="1"
                  class="quantity"
                /></td>
                <td >Size M</td>
                <td >59.900 DT</td>
                <td >
                  <button id="remove" class="remove">
                    Remove
                  </button>
                </td>
            </tr>
            </tbody>
        </table>
          <hr />
        </div>
        <div class="column2">
          <h2>Cart Totals</h2>
          <h4>Subtotals Shipping &nbsp; &nbsp; 199.90 DT</h4>
          <div class="input-container">
            <input type="text" name="promocode" id="promocode" class="promocode" placeholder="Enter promo code"/>
          </div>
          <h4>Totals &nbsp; &nbsp; 1000 DT</h4>
          <div class="buttons">
            <a class="button-checkout" href="confirmation.html">Checkout</a>
            <a class="cancel" href="../HTML/men.html">Continue Shopping</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</div>
<app-footer></app-footer>