<ul class="list-group list-group-flush">
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Dresses')}" (click)="selectCategory('Dresses')">Dresses</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Shoes')}" (click)="selectCategory('Shoes')">Shoes</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Accessories')}" (click)="selectCategory('Accessories')">Accessories</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Outerwear')}" (click)="selectCategory('Outerwear')">Outerwear</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Bags')}" (click)="selectCategory('Bags')">Bags</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Bottoms')}" (click)="selectCategory('Bottoms')">Bottoms</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Activewear')}" (click)="selectCategory('Activewear')">Activewear</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Swimwear')}" (click)="selectCategory('Swimwear')">Swimwear</li>
  <li class="list-group-item" [ngClass]="{'selected': isCategorySelected('Intimates')}" (click)="selectCategory('Intimates')">Intimates</li>
</ul>
