<mat-nav-list id="custom-nav-list">
  <h2 matSubheader class="mt-2  titre">COZASTORE</h2>

  <mat-divider></mat-divider>
  

  <a mat-list-item class="custom-list-item" routerLinkActive="list-item-active" routerLink="/home"> <mat-icon>home</mat-icon> Home </a>
  <a mat-list-item class="custom-list-item"  routerLinkActive="list-item-active" routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a>
  <a mat-list-item class="custom-list-item" (click)="onClick('product')">
    <mat-icon>add</mat-icon> Add Product
  </a>
  <a mat-list-item class="custom-list-item" (click)="onClick('category')">
    <mat-icon>add</mat-icon> Add Category
  </a>
  
  <a mat-list-item class="custom-list-item" (click)="onClick('souscategory')">
    <mat-icon>add</mat-icon> Add Second Category 
  </a>
  <a mat-list-item  class="custom-list-item"> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>

